html {
    background: transparent url(../images/let_zobo_be_zobo.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;
    font-family: Montserrat, Helvetica, Arial, sans;
}

body {
  text-align: center;
}

.counter h1 {
  font-size: 15px;
}

.counter p {
  font-size: 106px;
  margin: 13px auto;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 65px;

    position: fixed;
    bottom: 32px;
    left: 0;
    right: 0;
  }

  .countdown {
    margin-top: 130px;
  }

  .counter {
      display: inline-block;
      width: 140px;
  }

  .counter h1 {
      position: static;
  }

  .counter p {
    margin-top: 106px;
  }
}
